# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
